@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Comic+Relief);
@import "tailwindcss";
@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
@font-face {
  font-family: 'osx';
  src: url('/fonts/128kMac.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@theme {
    --text-tiny: 0.5rem; 
    --font-pacifico: "Pacifico"; 
    --font-comic-relief: "Comic Relief";
    --font-osx: "osx";
}
